<div class="overlay">
    <div>
        <h1 class="heading">Store Locator</h1>
    </div>
    <div class="search-container">
        <div class="search">
            <input id="zip-input" placeholder="enter Zip code" type="text">
            <i class="fa fa-search"></i>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="addresss">address</div>
            <div class="phone"> phone </div>
        </div>
    </div>
</div>


<div class="mapdiv">
    <div #mapArea id="mapArea"></div>
</div>


