<div class="overlay">
    <div>
        <h1 class="heading">Store Locator</h1>
    </div>
    <div class="search-container">
        <div class="search">
            <input id="zip-input" placeholder="enter Zip code" type="text" #zipinput (keyup.enter)="searchStore(zipinput)">
            <i class="fa fa-search" (click)="searchStore(zipinput)"></i>
        </div>
    </div>

    <div class="container">
        <div class="contain" *ngFor="let store of foundStores; index as i" (click)="onContainerItemClick(i)">
            <div class="num">
                {{ i+1 }}
            </div>
            <div class="address">
                <span> {{ store.addressLines }} </span> 
            </div>
            <div class="phone"><span class="small"> {{ store.phoneNumber }} </span></div>
            
        </div>
    </div>
</div>


<div class="mapdiv">
    <div #mapArea id="mapArea"></div>
</div>


